<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="./img/barranquilla.jpg" alt="No encontre Imagen" >
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </header>
    <article>
        <img src="" alt="No encontre Imagen" >
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur ipsa velit officia deleniti
            exercitationem reprehenderit porro? Amet quaerat voluptatum ipsum perferendis sed earum eveniet, recusandae
            odio natus aperiam tempore.
        </p>
    </article>
    <footer>
        <ol>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Tik Tok</a>
        </ol>
    </footer>
</body>

</html>